<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name=viewport>
    <meta name=description content="TIsigner: Unleash the power of synthetic biology">
    <meta name=author content="Bikash Kumar Bhandari, Chun Shem Lim, Paul P Gardner">
    <meta name=theme-color content=#355664 />
    <meta name=keywords content="RNA, protein, gene optimisation, PCR, simulated annealing, translation initiation, accessibility, opening energy, PSI Biology, Protein Structure Initiative, recombinant protein expression, heterelogous protein expression, E coli, Escherichia coli, Pichia pastoris, MBIE, Ministry of Business Innovation and Employment, Callaghan Innovation, UTR, promoter">
    <meta name="google-site-verification" content="hZjxk7-ZjGgAyU5T6EbNunCaKL_gYwXerOs368wozvA" />
    <title>TIsigner Homepage</title>
    <link rel=icon href=static/images/favicon.png type=image/png sizes=16x16 />

    <meta property="og:locale", content="en_NZ" />
    <meta property="og:title", content="TIsigner: Unleash the power of synthetic biology" />
    <meta property="og:description", content="Optimise your protein coding sequences using smarter tools and algorithms!" />
    <meta property="og:image", content="https://tisigner.otago.ac.nz/static/images/main.png" />

    <meta property="twitter:card", content="summary" />
    <meta property="twitter:title", content="TIsigner: Unleash the power of synthetic biology" />
    <meta property="twitter:description", content="Optimise your protein coding sequences using smarter tools and algorithms!" />
    <meta property="twitter:image", content="https://tisigner.otago.ac.nz/static/images/main.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=stylesheet>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel=stylesheet>
    <link href="static/css/material/material.min.css" rel="stylesheet">
    <link href="static/css/waves/waves.min.css" rel="stylesheet">
    <link href="static/css/index/index.css" rel=stylesheet>

</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="static/js/material/material.min.js"></script>
    <script src="static/js/waves/waves.min.js"></script>
    <script src=static/js/index/index.js></script>


    <header class="shadow-8">
        <h1 class="display-1 font-weight-bold">TI<a class="font-weight-bold" style="color:#EDA604">signer</a>
        </h1>
        <h2 class="animated fadeInUp display-3 font-weight-light">Unleash the power of synthetic biology</h2>
        <br>
        <div class="form-inline mb3 d-flex justify-content-center">
            <div class="input-group mb-2 mr-sm-2">
              <a href="/tisigner" class="animated fadeInLeft btn btn-outline-light btn-lg px-5 shadow-8">TIsigner</a>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <a href="/sodope" class="animated fadeInRight btn btn-outline-light btn-lg px-5 shadow-8">SoDoPE</a>
            </div>
        </div>



        <span class="arrow" id="down-arrow">
        <span></span>
        </span>
    </header>

    <div class="info-section" id="infos">
        <div class=container-fluid>
            <div class="row">
                <div class='p-5 mb-5 col-lg-6'>
                   <br><br><br>
                    <div class="row p-5 mb-5 ">
                        <h1 class="text-right font-weight-light">Our open source, industry-leading platform offers unparalleled speed and accuracy for gene optimisation.</h1>
                    </div>

                    <br><br><br><br><br>
                    <div class='row p-5 mb-5 '>
                        <div class="card  text-center p-3 mb-5 rounded shadow-8">
                            <div class="card-header">
                                <span><a href="/sodope"><img src="static/images/sodope.png" alt="SoDoPE logo" class="img-fluid" style="max-width: 30%;"></a></span>
                            </div>

                            <div class="card-body">
                                <blockquote class="card-text  text-center">
                                    <p class="typography-subheading">SoDoPE enables users to navigate a protein sequence and its domains for predicting and maximising solubility. SoDoPE is linked with TIsigner, and therefore empowers protein biochemists to design sequences for tuning both protein expression and solubility for a gene of interest.</p>
                                </blockquote>

                            </div>
                            <div class="card-footer">
                                <a href="/sodope" role="button" class="btn btn-dark btn-lg px-5">SoDoPE</a>
                            </div>

                        </div>
                    </div>


                </div>


                <!--        <div class=container>-->
                <div class='p-5 mb-5 col-lg-6'>
<!--                    <br><br>-->
                    <!--        <div class="shadow-none p-3 mb-5 ">-->
                    <div class='p-5 mb-5 row'>
                        <div class="card text-center p-3 mb-5 rounded shadow-8 animated">
                            <div class="card-header">
                                <span><a href="/tisigner"><img src="static/images/tisigner.png" alt="TIsigner logo" class="img-fluid" style="max-width: 30%;"></a></span>
                            </div>
                            <div class="card-body">
                                <blockquote class="card-text  text-center">
                                    <p class="typography-subheading">TIsigner optimises the translation initiation coding region of a gene of interest to improve recombinant protein production in <a class=font-italic>Escherichia coli</a>, <a class=font-italic>Saccharomyces cerevisiae</a> and <a class=font-italic>Mus musculus</a>. In contrast to existing software, TIsigner suggests minimum numbers of synonymous codon changes to the input sequence. This enables a standard PCR cloning for the optimised sequence.</p>
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <a href="/tisigner" role="button" class="btn btn-dark btn-lg px-5">TIsigner</a>
                            </div>

                        </div>
                    </div>


                    <div class="row p-5 mb-5 ">
                        <h1 class=" text-left font-weight-light">Leveraging 98,146 real-world experimental data points, our algorithms withstand the world's most stringent tests.</h1>
                    </div>


                    <!--        </div>-->
                </div>
            </div>

        </div>



        <br>
        <div class="scroll-animations">
            <div class="animated">
                <a href="https://www.callaghaninnovation.govt.nz/">
                    <span><img src="static/images/cal.png" alt="Callaghan Innovation" class="img-fluid"></span>
                </a>
            </div>

            <div class="animated">
                <a href="https://otago.ac.nz/">
                    <span><img src="static/images/uni_logo_horizontal.png" alt="University of Otago" class="img-fluid"></span>
                </a>
            </div>

            <div class="animated">
                <a href="https://www.mbie.govt.nz/">
                    <span><img src="static/images/mbie.png" alt="Ministry of Business Innovation and Employment, New Zealand" class="img-fluid"></span>
                </a>
            </div>

        </div>




    </div>




        <div class="text-center mx-auto footer shadow-8">
            <hr>
            <small class="text-white">
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/nz/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/3.0/nz/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/nz/" class="alert-link text-white-50">Creative Commons Attribution-NoDerivs 3.0 New Zealand License</a>.
            <p>Specific licenses for TIsigner and SoDoPE are available in their FAQ sections.</p>
                <a>&copy; 2019 </a>
                    <a href="https://github.com/bkb3" class="alert-link text-white-50">Bikash Kumar Bhandari</a>,
                    <a href="https://otago.ac.nz/biochemistry/people/profile/index.html?id=3136" class="alert-link text-white-50">Chun Shem Lim</a>,
                    <a>and </a>
                    <a href="https://otago.ac.nz/biochemistry/people/profile/index.html?id=2817" class="alert-link text-white-50">Paul P Gardner</a>.</small>
            <br>
        </div>

</body>
