<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name=viewport>
    <meta name=description content="TIsigner (Translation Initiation coding region deSIGNER): Optimise your protein coding sequences using a smarter algorithm!">
    <meta name=author content="Bikash Kumar Bhandari, Chun Shem Lim, Paul P Gardner">
    <meta name=keywords content="RNA, protein, gene optimisation, PCR, simulated annealing, translation initiation, accessibility, opening energy, PSI Biology, Protein Structure Initiative, recombinant protein expression, heterelogous protein expression, E coli, Escherichia coli, Pichia pastoris, MBIE, Ministry of Business Innovation and Employment, Callaghan Innovation, UTR, promoter">
    <meta name="google-site-verification" content="hZjxk7-ZjGgAyU5T6EbNunCaKL_gYwXerOs368wozvA" />
    <title>TIsigner Homepage</title>
    <link rel=icon href=static/images/favicon.png type=image/png sizes=16x16 />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel=stylesheet>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=stylesheet>
    <link href=static/css/material/material.min.css rel=stylesheet>
</head>

<body>
    <script src=https://code.jquery.com/jquery-3.3.1.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js></script>
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js></script>
    <script src=static/js/material/material.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js></script>
    <script src=static/js/tisigner/tisigner.min.js></script>
    <script src=https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js></script>
    <script>
        $(document).ready(function(){resetForms();checkFirsttime();hideExpnotif()});
    </script>
    <header class="navbar navbar-dark fixed-top toolbar-waterfall">
    </header>
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class=container>
            <div class="row justify-content-around">
                <div class="col-lg-10 col-xl">
                    <a href=#><img class=img-fluid src=static/images/web.png alt=TISigner-banner-image></a>
                    <div class="d-flex flex-wrap">
                        <a class="collapse btn btn-lg btn-light mb-3 mr-3 rounded shadow-8" data-toggle=collapse href=#submit-inputs aria-expanded=true id=launch>
                            <i class="material-icons mr-2">launch</i>Launch
                        </a>
                        <a class="btn btn-lg btn-secondary mb-3 mr-3 rounded shadow-8" data-toggle=modal href=#quick-help-modal>
                            <i class="material-icons mr-2">help</i>FAQ
                        </a>
                        <script>
                            $("#launch").click(function(){Cookies.set("first-launched","1",{expires:30})});
                        </script>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role=alert id=experimental-notification>
                        <strong>Welcome!</strong> Click Launch to get started. <br>This site uses cookies to save preferences. We also use session cookie to check the validity of input data. We respect your privacy and do not store any of your data in our server.
                        <button type=button class=close data-dismiss=alert aria-label=Close id=experimental-notification-close>
<span aria-hidden=true>&times;</span>
<script>$("#experimental-notification").on("closed.bs.alert",function(){Cookies.set("exp-notif-dismiss","1",{expires:30})});</script>
</button>
                    </div>
                    <div class="alert alert-primary" role="alert"><strong>Tip:</strong> {{ tips|safe }} </div>
                    <div> <p class="text-white-hint text-md-right">TIsigner last update date: {{mod_date|safe}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden=true aria-labelledby=quick-help-modal-label class="modal fade" id=quick-help-modal role=dialog tabindex=-1>
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class=modal-content>
                <div class=modal-header>
                    <h2 class=modal-title id=quick-help-modal-label>Frequently asked questions</h2>
                    <button aria-label=Close class="close material-icons" data-dismiss=modal type=button>close</button>
                </div>
                <div class=modal-body>
                    <h3 class="mt-4 typography-body-2">Why TIsigner requires a 5&prime; UTR (promoter) sequence to run?</h3>
                    <p>
                        TIsigner takes a 5&prime; UTR sequence into account when calculating the opening energy (accessibility) of translation initiation site.
                    </p>
                    <h3 class="mt-4 typography-body-2">What should I do if the promoter of my expression vector is not available in the drop down menu and I can not figure out the transcription start site?</h3>
                    <p>
                        If unsure input the 71 nt vector-encoded sequence preceding the start codon.
                    </p>
                    <h3 class="mt-4 typography-body-2">Could I optimise multiple sequences per job?</h3>
                    <p>
                        <a href=#>TIsigner webserver</a> limits one sequence per job to control work load. For scaling up, please consider using the <a href=https://github.com/Gardner-BinfLab/TIsigner>command line version</a>.
                    </p>
                    <h3 class="mt-4 typography-body-2">Could TIsigner optimise the full-length sequence of a gene of interest?</h3>
                    <p>
                        TIsigner has an option for full-length sequence optimisation but this approach will have limited returns in general. The exception is, if your expression vector encodes a short N-terminal fusion tag.
                    </p>
                    <h3 class="mt-4 typography-body-2">Why not optimise the full-length sequence?</h3>
                    <p>
                        Codon adaptation index (CAI) is the most popular feature for full-length gene optimisation. However, many evaluations have shown that CAI has a limited relationship with protein expression (0.54 AUC, in our evaluations using 11,430 <a href=http://targetdb.rcsb.org>recombinant protein expression experiments</a> in <span class=font-italic>E. coli</span>). An AUC score of 0.5 is expected for tossing a coin, suggesting that CAI has limited use in gene optimisation. In contrast, the accessibility of translation initiation sites has an AUC score of 0.7. Furthermore, optimising as few as the first nine codons is sufficient to improve the accessibility of the translation initiation region.
                    </p>
                    <h3 class="mt-4 typography-body-2">Why is the support for <span class=font-italic>Saccharomyces cerevisiae</span> and <span class=font-italic>Mus musculus</span> experimental?</h3>
                    <p>
                        The result for <span class=font-italic>Saccharomyces cerevisiae</span> and <span class=font-italic>Mus musculus</span> is based on reporter expression dataset. Due to the absence of heterologous expression dataset for these organisms, we consider optimisation for these as experimental.
                    </p>
                    <h3 class="mt-4 typography-body-2">Could I copy and distribute TIsigner for commercial purposes?</h3>
                    <p>
                        Feel free to do so under following terms and conditions:
                        <p class="text-monospace">Disclaimer and Copyright
                            <br><br>The programs and source code of TIsigner are free software. They are distributed in the hope that they will be useful but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.<br>Permission is granted for research, educational, and commercial use and modification so long as 1) the package and any derived works are not redistributed for any fee, other than media costs, 2) proper credit is given to the authors.
                            <br><br>If you want to include this software in a commercial product, please contact the authors.
                        </p>
                    </p>
                    <h3 class="mt-4 typography-body-2">How to cite TIsigner?</h3>
                    <p>
                        Bikash K Bhandari, Chun Shen Lim, Paul P Gardner. <cite title="Highly accessible translation initiation sites
are predictive of successful heterologous protein expression">Highly accessible translation initiation sites
are predictive of successful heterologous protein expression</cite>. BioRxiv. (2019). DOI:<a href=https://doi.org/10.1101/726752>10.1101/726752</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <main class=main>
        <div class=container>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl">
                    <div class=mb-5>
                        <div class="collapse rounded shadow-8" id=submit-inputs>
                            <div class=card>
                                <div class="card card-body" id=input-form-card>
                                    <div id=snackbar-msg class="snackbar snackbar-right collapse">
                                        <div class=snackbar-body>
                                            Sequence submitted. Please wait for a moment...
                                        </div>
                                    </div>
                                    <div id=snackbar-msg-error class="snackbar snackbar-right collapse snackbar-multiline">
                                        <div class=snackbar-body>
                                        </div>
                                    </div>
                                    <div class=collapse id=show-results>
                                        <h4 class=card-title>Results</h4>
                                        <hr>
                                        <p>Optimised sequence : </p>
                                        <table class="table table-striped table-hover table-sm" id=new-table0 style=word-break:break-all>
                                            <caption>Mismatches are highlighted.</caption>
                                            <thead>
                                                <tr>
                                                    <th scope=col>Sequence</th>
                                                    <th scope=col style=width:100px>Opening<br>Energy</th>
                                                    <th scope=col style=width:100px>Expression<br>Score (&percnt;)</th>
                                                    <th scope=col style=width:100px>Terminator<br>Hits</th>
                                                    <th scope=col style=width:100px>E-values</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>Input sequence: </p>
                                        <table class="table table-striped table-hover table-sm" id=new-table1 style=word-break:break-all>
                                            <thead>
                                                <tr>
                                                    <th scope=col>Sequence</th>
                                                    <th scope=col style=width:100px>Opening<br>Energy</th>
                                                    <th scope=col style=width:100px>Expression<br>Score (&percnt;)</th>
                                                    <th scope=col style=width:100px>Terminator<br>Hits</th>
                                                    <th scope=col style=width:100px>E-values</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type=button class="btn btn-outline-primary" data-toggle=collapse href=#extra-results id=show-more>Show more</button>
                                        <div class=collapse id=extra-results>
                                            <p>Other optimised sequences:</p>
                                            <table class="table table-striped table-hover table-sm" id=new-table2 style=word-break:break-all>
                                                <caption>Mismatches are highlighted.</caption>
                                                <thead>
                                                    <tr>
                                                        <th scope=col>Sequence</th>
                                                        <th scope=col style=width:100px>Opening<br>Energy</th>
                                                        <th scope=col style=width:100px>Expression<br>Score (&percnt;)</th>
                                                        <th scope=col style=width:100px>Terminator<br>Hits</th>
                                                        <th scope=col style=width:100px>E-values</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class=container>
                                            <canvas id=myChart></canvas>
                                        </div>
                                        <div class=modal-footer>
                                            <a id=try-again class="btn btn-primary text-primary"><i class="material-icons mr-2">refresh</i>Retry</a>
                                        </div>
                                    </div>
                                    <form id=input-form action=/optimise method=post class="collapse show">
                                        <input type=hidden name=csrf_token value="{{ csrf_token() }}" />
                                        <nav>
                                            <div class="nav nav-tabs" id=nav-tab role=tablist>
                                                <a class="nav-item nav-link active" id=nav-input-tab data-toggle=tab href=#nav-input role=tab aria-controls=nav-input aria-selected=true>Input</a>
                                                <a class="nav-item nav-link" id=nav-settings-tab data-toggle=tab href=#nav-settings role=tab aria-controls=nav-settings aria-selected=false>Customise</a>
                                                <a class="nav-item nav-link" id=demo href=#nav-demo>Example</a>
                                            </div>
                                        </nav>
                                        <div class=tab-content id=nav-tabContent>
                                            <div class="tab-pane fade show active" id=nav-input role=tabpanel aria-labelledby=nav-input-tab>
                                                <br>
                                                <div class=form-group>
                                                    <label for=host-select>Host</label>
                                                    <select class=form-control id=host-select name=host-select onclick=hostSelect()>
<option label></option>
<option>Escherichia coli</option>
<option>Saccharomyces cerevisiae</option>
<option>Mus musculus</option>
<option>Other</option>
</select>
                                                    <small id=host-help class="form-text text-muted">Your input sequence will be optimised for this host.</small>
                                                </div>
                                                <div class=form-group>
                                                    <div class=floating-label>
                                                        <label for=input-sequence>Input sequence</label>
                                                        <textarea input aria-describedby=input-sequence-help class=form-control id=input-sequence placeholder type=text name=input-sequence rows=1 spellcheck=false pattern=[CAGTUcagtu]+$ required></textarea>
                                                        <small id=input-sequence-help class="form-text text-muted">A protein coding sequence (DNA or RNA).</small>
                                                    </div>
                                                </div>
                                                <div class=form-group>
                                                    <div class=floating-label>
                                                        <label for=utr>5&prime; UTR (Promoter)</label>
                                                        <select class=form-control id=utr name=utr required>
<option label></option>
<option value=1>T7lac promoter (e.g., pET21)</option>
<option value=3>Custom</option>
</select>
                                                        <small id=utr-help class="form-text text-muted">Pick a promoter or input your custom sequence. </small>
                                                    </div>
                                                </div>
                                                <div class="form-group collapse" id=cst-utr>
                                                    <div class=floating-label>
                                                        <label for=custom-utr>Input 5&prime; UTR sequence</label>
                                                        <textarea input aria-describedby=custom-utr-help class=form-control id=custom-utr placeholder type=text name=custom-utr rows=1 spellcheck=false></textarea>
                                                        <small id=custom-utr-help class="form-text text-muted">A custom 5&prime; UTR sequence.</small>
                                                    </div>
                                                </div>
                                                <div class="form-group collapse hide" id="optimisation-type">
                                                    <label for=customRadioInline0>Optimisation type</label>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type=radio id=optimisation-direction0 name=optimisation-direction class="custom-control-input form-check-input" checked value='decrease'>
                                                        <label class="custom-control-label form-check-label" for=optimisation-direction0>Maximise Expression</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type=radio id=optimisation-direction1 name=optimisation-direction class=custom-control-input value="increase">
                                                        <label class="custom-control-label form-check-label" for=optimisation-direction1>Minimise Expression</label>
                                                    </div>
                                                </div>
                                                <p></p>
                                                <div class="form-group collapse hide" id=lvl-selection-slider>
                                                    <div class=form-row>
                                                        <div class="form-group col-sm-10">
                                                            <label for=lvl-tune>Your target Expression Score (&percnt;)</label>
                                                            <input type=range class=custom-range min=5 max=100 step=5 id=lvl-tune oninput=updateTuning(this) value=100>
                                                            <small id=lvl-tune class="form-text text-muted">The optimised sequence will have scores close to this value. </small>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type=text class="form-control-plaintext col-sm-10" id=lvl-tune-val value="High (100%)" readonly>
                                                        </div>
                                                    </div>
                                                    <textarea input aria-describedby=fine-tune-expression class="form-control d-none" id=lvl-tune-val-txt name=lvl-tune-val-txt rows=1 spellcheck=false value=100></textarea>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id=nav-settings role=tabpanel aria-labelledby=navigation-settings-tab>
                                                <br>
                                                <div class=form-group>
                                                    <label for=customRadioInline1>Optimisation region</label>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type=radio id=primer-button name=designMode class="custom-control-input form-check-input" checked value=10 onclick=ntSlider()>
                                                        <label class="custom-control-label form-check-label" for=primer-button>Translation initiation coding region</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type=radio id=full-button name=designMode class=custom-control-input value=fullGene onclick=ntSlider()>
                                                        <label class="custom-control-label form-check-label" for=full-button>Full-length sequence</label>
                                                    </div>
                                                </div>
                                                <div class="form-group collapse show" id=primer-length-selection-slider>
                                                    <div class=form-row>
                                                        <div class="form-group col-sm-10">
                                                            <label for=len-primer>Maximum number of replaceable codons</label>
                                                            <input type=range class=custom-range min=4 max=9 id=len-primer oninput=updateRange(this) value=9>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type=text readonly class="form-control-plaintext col-sm-10" id=len-primer-val value="First 9">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=form-group>
                                                    <div class=floating-label>
                                                        <label for=rms-sites>Restriction sites to avoid</label>
                                                        <textarea input aria-describedby=restriction-modification-sites-help class=form-control id=rms-sites placeholder="Multiple sites can be separated by comma. For example: GAATTC,GGATTC,AAGCTT. Reverse complements are also filtered. " type=text name=rms-sites rows=1 spellcheck=false pattern=([ACGTU]+,{0,1}[AGCTU])+></textarea>
                                                        <small id=restriction-modification-sites-hel class="form-text text-muted">AarI, BsaI, BsmBI are filtered out by default.</small>
                                                    </div>
                                                </div>
                                                <div class="custom-control custom-switch">
                                                    <input class=custom-control-input id=advancedSwitch type=checkbox onclick=showAdvancedForm()>
                                                    <span class=custom-control-track></span>
                                                    <label class="custom-control-label text-muted" for=advancedSwitch id=advancedSwitchText>Show advanced parameters</label>
                                                </div>
                                                <div class="form-group collapse hide" id=algorithm-settings>
                                                    <br>
                                                    <label for=customRadioInline2>Choose a method</label>
                                                    <div class="custom-control custom-radio custom-control-inline" id=default-algorithm>
                                                        <input type=radio id=algo-options-quick name=algochoose class="custom-control-input form-check-input" value=quick checked>
                                                        <label class="custom-control-label form-check-label" for=algo-options-quick>Quick Sampling</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline" id=alt-algorithm>
                                                        <input type=radio id=algo-options-deep name=algochoose class=custom-control-input value=deep>
                                                        <label class="custom-control-label form-check-label" for=algo-options-deep>Deep Sampling</label>
                                                    </div>
                                                    <p class=text-muted>Quick Sampling is suitable for most cases. However, if you are not getting good results, try Deep Sampling.</p>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type=checkbox class="custom-control-input form-check-input" id=termcheck onclick=termcheckset()>
                                                        <label class=custom-control-label for=termcheck aria-describedby=terminator-check>Terminator check</label>
                                                        <textarea input class="form-control d-none" id=termcheck-bool name=termcheck-bool rows=1 spellcheck=false value=false></textarea>
                                                    </div>
                                                    <p class=text-muted>If checked, the number of hits and E-values will also be reported.</p>
                                                    <br>

                                                <div class="form-group" id=cst-region>
                                                    <div class=floating-label>
                                                        <label for=custom-region>Custom region to optimise accessibility</label>
                                                        <textarea input aria-describedby=custom-region-help class=form-control id=custom-region placeholder="Positions can be separated by : for example -24:24. Maximum length of region is 150 nt. This deactivates the expression score tuner." type=text name=custom-region rows=1 spellcheck=false maxlength=7></textarea>
                                                        <small id=custom-region-help class="form-text text-muted">Use the following guide to enter start and end position of your region.</small>
                                                        <blockquote class="blockquote text-center">
                                                            <ul class="list-unstyled">
                                                                <li class="text-monospace text-uppercase">... <a class="text-primary">_&nbsp; </a><a class="text-secondary">_&nbsp; </a><a class="text-danger">_&nbsp; </a><a class="text-info">A </a><a class="text-success">T </a><a class="text-warning">G </a>_ _ _ ...</li>
                                                                <li class="text-monospace">... <a class="text-primary">-3 </a><a class="text-secondary">-2 </a><a class="text-danger">-1 </a><a class="text-info">1 </a><a class="text-success">2 </a><a class="text-warning">3 </a>4 5 6 ...</li>
                                                            </ul>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                    <div class=floating-label>
                                                        <label for=seed>Random seed</label>
                                                        <input type=text class="form-control mb-3" id=seed placeholder="Only numbers allowed." name=seed value=0 onkeypress='return event.charCode>=48&&event.charCode<=57' maxlength=9>
                                                        <small id=seedhelp class="form-text text-muted">This controls reproducibility of the output.</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=collapse id=seq-err>
                                            <div class="alert alert-warning alert-dismissible fade show" role=alert id=seq-err-msg>
                                            </div>
                                        </div>
                                        <br>
                                        <div class=collapse id=infinite-prog-bar>
                                            <div class=progress>
                                                <div class="progress-bar progress-bar-indeterminate" role=progressbar></div>
                                                <div class="progress-bar progress-bar-indeterminate bg-success" role=progressbar></div>
                                                <div class="progress-bar progress-bar-indeterminate bg-info" role=progressbar></div>
                                            </div>
                                        </div>
                                        <div class=modal-footer>
                                            <button class="btn btn-primary" data-toggle=collapse href=#infinite-prog-bar1 id=submit-btn><i class="material-icons mr-2">play_arrow</i>Optimise</button>
                                        </div>
                                        <script type=text/javascript>
                                            var frm=$("#input-form");var res_tbl=$("#show-results");var csrf_token="{{ csrf_token() }}";frm.submit(function(event){if(validateinputs(event)==true){$.ajaxSetup({beforeSend:function(c,b){if(!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(b.type)&&!this.crossDomain){c.setRequestHeader("X-CSRFToken",csrf_token)}}});$.ajax({type:frm.attr("method"),url:frm.attr("action"),data:frm.serialize(),dataType:"json",success:function(b){successfunc(b)},error:function(b,d,c){errorfunc(b,d,c)},})}});
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=mb-4 id=index-content-one>
                        <h2 class=text-primary>Our services</h2>
                        <p class=typography-subheading>TIsigner optimises the translation initiation coding region of a gene of interest to improve recombinant protein production in <span class=font-italic>Escherichia coli</span>, <span class=font-italic>Saccharomyces cerevisiae</span> and <span class=font-italic>Mus musculus</span> (see <button class="btn btn-outline-dark" type="button"  data-toggle=modal href=#quick-help-modal>Faq</button>). In contrast to existing software, TIsigner suggests minimum numbers of synonymous codon changes to the input sequence. This enables a standard PCR cloning for the optimised sequence.</p>
                        <div class=block-multiquote>
                            <div class=row>
                                <div class="col-md-6 mt-4">
                                    <h4 class=text-primary>Collaborator</h4>
                                    <p><a href=https://www.callaghaninnovation.govt.nz/><img src=static/images/cal.png class=img-fluid alt="callaghan innovation logo"></a>
                                    </p>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <h4 class=text-primary>Funder</h4>
                                    <p><a href=https://www.mbie.govt.nz/><img src=static/images/mbie_logo.svg class=img-fluid type=image/svg+xml alt=ministry-of-business-innovation-and-employment-logo></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center mx-auto">
                            <p><a rel=license href=http://creativecommons.org/licenses/by-nd/3.0/nz/><img alt="Creative Commons License" style=border-width:0 src=https://i.creativecommons.org/l/by-nd/3.0/nz/88x31.png></a><br>
                                <small class=text-muted> <a href=https://github.com/bkb3>Bikash Kumar Bhandari</a>, <a href=https://github.com/lcscs12345>Chun Shem Lim</a>, and <a href=http://www.gardner-binflab.org>Paul P Gardner</a>.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
